.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

/* Responsive */
@media screen and (max-width: 600px) {
    .container img{
        width: 150px;
    }
}