.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;
    border-bottom: var(--border);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.03);
    background-color: var(--light_color);
    padding: var(--padding_container);
    position: sticky;
    top: 0;
    opacity: 0.98;
    z-index: 5;
}
.title {
    font-size: 1.5rem;
}
.title h1 span {
    color: var(--primary_color);
}
.hamburger_menu {
    display: none;
}
.options {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.category {
    display: none;
}
.user_btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart, .user {
    border-radius: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);
    padding: 0.8rem;
    margin-right: 1.5rem;
    cursor: pointer;
    transition: var(--smooth);
}
.cart img, .user img {
    width: 24px;
}
.cart:hover, .user:hover {
    background-color: var(--dim_primary);
    box-shadow: 0 0 15px var(--dim_primary);
}
.cart {
    position: relative;
}
.cart span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 10px;
    height: 10px;
    padding: 0.5rem;
    margin: -1.3rem;
    background-color: var(--dim_primary);
    color: var(--dark_color);
    border-radius: 100%;
    font-size: 1.2rem;
}
.search {
    border: none;
    outline: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);
    border-radius: var(--radius);
    padding: 0.8rem;
    background-color: var(--light_color);
    transition: var(--smooth);
    position: relative;
}
.search:focus {
    box-shadow: 0 0 8px var(--dim_primary);
}
.searchbar img{
    position: absolute;
    width: 20px;
    margin-top: 0.6rem;
    margin-left: -3rem;
    cursor: pointer;
}


/* Responsive */
@media screen and (max-width: 600px) {
    .options {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 78vh;
        padding: 1rem;
        position: absolute;
        top: 10.8rem;
        right: -10rem;
        opacity: 0;
        visibility: hidden;
        transition: var(--smooth);
    }
    .options.expanded {
        right: 0;
        opacity: 1;
        visibility: visible;
        background-color: var(--light_color);
        border-left: var(--border);
        border-bottom: var(--border);
        transition: var(--smooth);
    }
    .category {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0.2rem;
        font-size: 1.5rem;
    }
    .category li {
        width: 168px;
        border: var(--border);
        border-radius: var(--radius);
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
        transition: var(--smooth);
        cursor: pointer;
    }
    .category li:hover {
        background-color: var(--dim_primary);
        box-shadow: 0 0 15px var(--dim_primary);
    }
    .searchbar {
        margin-bottom: 2rem;
    }
    /* Hamburger Menu */
    .hamburger_menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 50;
    }
    .bar {
        width: 30px;
        height: 3px;
        background-color: var(--black_color);
        border-radius: 3px;
        transition: var(--smooth);
    }
    .bar:not(:last-child) {
        margin-bottom: 6px;
    }
    .bar.expanded.bar_one {
        transform: rotate(-135deg)
        translateY(-14px);
    }
    .bar.expanded.bar_two {
        width: 5px;
        height: 5px;
        border-radius: 100%;
        transform: translateX(-10px);
        background-color: var(--light_color);
    }
    .bar.expanded.bar_three {
        transform: rotate(135deg)
        translateY(14px);
    }    
}
