.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--padding_container);
    padding-top: 5rem;
}
.banner img {
    width: 600px;
}
.title {
    width: 480px;
    text-align: justify;
}
.title h1{
    font-size: 4rem;
}
.title span{
    color: var(--primary_color);
}
.title p {
    font-size: 2rem;
    margin-bottom: 4rem;
}
.title img {
    width: 120px;
    position: absolute;
    opacity: 0.7;
    transform: rotate(180deg);
}

/* Responsive */
@media screen and (max-width: 1080px) {
    .container {
        flex-direction: column;
        padding-top: 6rem;
    }
    .title img {
        transform: rotate(80deg);
    }
}
@media screen and (max-width: 600px) {
    .container {
        padding-top: 3rem;
    }
    .banner img {
        width: 400px;
    }
    .title {
        width: 350px;
    }
    .title h1 {
        font-size: 3.5rem;
    }
    .title p {
        font-size: 1.8rem;
    }
    .title img {
        width: 80px;
    }
}