.container {
    text-align: center;
    padding: var(--padding_container);
    margin-top: 2rem;
}
.container h1 {
    margin: 5rem 0;
    font-size: 3.5rem;
}
.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Responsive */
@media (max-width: 600px) {
    .cards {
        justify-content: center;
    }
}